<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>Computers</legend>
                <table ng-table="computerGridTableParams" show-filter="true" class="table table-bordered table-condensed table-hover">
                    <tr ng-repeat="line in $data" ng-click="clickLine(line)">
                        <td data-title="'Name'" sortable="'name'" filter="{'name':'text'}">
                            {{line.name}}
                        </td>
                        <td data-title="'Name'" sortable="'user_name'" filter="{'user_name':'text'}">
                            {{line.user_name}}
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</div>