<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>Computers</legend>
                <table ng-table="computerToDesktopSessionGridTableParams" show-filter="true" class="table table-bordered table-condensed table-hover">
                    <tr ng-repeat="line in $data" ng-click="clickLine(line)">
                        <td data-title="'Id'" sortable="'id'" filter="{'id':'text'}">
                            {{line.id}}
                        </td>
                        <td data-title="'Name'" sortable="'name'" filter="{'name':'text'}">
                            {{line.name}}
                        </td>
                        <td data-title="'Id'" sortable="'user_id'" filter="{'user_id':'text'}">
                            {{line.user_id}}
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</div>