<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>That's the users</legend>
                <nav class="navbar navbar-default">
                    <div class="collapse navbar-collapse">
                        <button type="button" class="btn btn-default navbar-btn" ng-click="edit()" ng-if="!$edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</button>
                        <button type="button" class="btn btn-default navbar-btn" ng-click="save()" ng-if="$edit" ng-disabled="!$validDirtyGrid"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save</button>
                        <button type="button" class="btn btn-default navbar-btn" ng-click="cancel()" ng-if="$edit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
                    </div>
                </nav>
                <table ng-table="editableUserGridTableParams" show-filter="true" class="table table-bordered table-condensed table-hover">
                    <tr ng-repeat="line in $data" ng-click="$edit || (openProfileGridFromUserAction({profileId:line.profile_id}))">
                        <td data-title="'First Name'" sortable="'firstName'" filter="{'firstName':'text'}">
                            {{line.firstName}}
                        </td>
                        <td data-title="'Name'" sortable="'name'" filter="{'name':'text'}">
                            <div class="form-group" ng-class="{'has-error': line.$modelCtrls.name.$invalid}">
                                <span ng-if="!($edit && (line.$original.profile_name==='editableName'))">{{line.name}}</span>
                                <input ng-if="$edit && (line.$original.profile_name==='editableName')" type="text" class="form-control" ng-model="line.name" grid-line-field/>
                            </div>
                        </td>
                        <td data-title="'Status'" sortable="'status'" filter="{'status':'select'}" filter-data="UserStatusType.deferOptionList()">
                            <div class="form-group" ng-class="{'has-error': line.$modelCtrls.status.$invalid}">
                                <span ng-if="!($edit)">{{UserStatusType.titlesByValue[line.status]}}</span>
                                <select ng-options="option.id as option.title for (name, option) in UserStatusType.optionsByName" ng-model="line.status" ng-if="$edit" grid-line-field class="form-control"></select>
                            </div>
                        </td>

            <td data-title="'Profile description'">
                Desc : {{line.profile_description}}
            </td>
        
                        <td data-title="'Comment Temp'">
                            <div class="form-group" ng-class="{'has-error': line.$modelCtrls.commentTemp.$invalid}">
                                <span ng-if="!($edit)">{{line.commentTemp}}</span>
                                <input ng-if="$edit" type="text" class="form-control" ng-model="line.commentTemp" ng-required="$isDirty(line)" grid-line-field/>
                                <p class="help-block" ng-if="($edit) && line.$modelCtrls.commentTemp.$error.required">This is required.</p>
                            </div>
                        </td>
                        <td data-title="'Enabled'" sortable="'enabled'" >
                            <div class="form-group" ng-class="{'has-error': line.$modelCtrls.enabled.$invalid}">
                                <div class="checkbox"><label><input type="checkbox" ng-model="line.enabled" ng-disabled="!($edit)" grid-line-field /></label></div>
                            </div>
                        </td>
                        <td data-title="'Big Comment'" sortable="'bigComment'" filter="{'bigComment':'text'}">
                            <div class="form-group" ng-class="{'has-error': line.$modelCtrls.bigComment.$invalid}">
                                <span ng-if="!($edit)">{{line.bigComment}}</span>
                                <textarea ng-if="$edit" class="form-control" ng-model="line.bigComment" grid-line-field/>
                            </div>
                        </td>
                        <td data-title="'Pass'" sortable="'pass'" filter="{'pass':'select'}" filter-data="UserPassType.deferOptionList()">
                            <div class="form-group" ng-class="{'has-error': line.$modelCtrls.pass.$invalid}">
                                <span ng-if="!($edit)">{{UserPassType.titlesByValue[line.pass]}}</span>
                                <select ng-options="option.id as option.title for (name, option) in UserPassType.optionsByName" ng-model="line.pass" ng-if="$edit" grid-line-field class="form-control"></select>
                            </div>
                        </td>
                        <td data-title="'Last Modification'" sortable="'lastModification'" >
                            <div class="form-group" ng-class="{'has-error': line.$modelCtrls.lastModification.$invalid}">
                                {{line.lastModification | amDateFormat:'lll'}}
                            </div>
                        </td>
                        <td data-title="'Age'" sortable="'age'" filter="{'age':'number'}">
                            <div class="form-group" ng-class="{'has-error': line.$modelCtrls.age.$invalid}">
                                <span ng-if="!($edit)">{{line.age}}</span>
                                <input ng-if="$edit" type="number" class="form-control" ng-model="line.age" grid-line-field/>
                            </div>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</div>