<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>Users</legend>
                <nav class="navbar navbar-default">
                    <div class="collapse navbar-collapse">
                        <button type="button" class="btn btn-default navbar-btn" ng-click="edit()" ng-if="!$edit">Edit</button>
                        <button type="button" class="btn btn-default navbar-btn" ng-click="save()" ng-if="$edit">Save</button>
                        <button type="button" class="btn btn-default navbar-btn" ng-click="cancel()" ng-if="$edit">Cancel</button>
                    </div>
                </nav>
                <table ng-table="editableUserGridTableParams" show-filter="true" class="table table-bordered table-condensed table-hover">
                    <tr ng-repeat="line in $data" ng-click="clickLine(line)">
                        <td data-title="'First Name'" sortable="'firstName'" filter="{'firstName':'text'}">
                            {{line.firstName}}
                        </td>
                        <td data-title="'Name'" sortable="'name'" filter="{'name':'text'}">
                            <span ng-if="!($edit && (line.$original.profile_name==='editableName'))">{{line.name}}</span>
                            <span ng-if="$edit && (line.$original.profile_name==='editableName')"><input type="text" class="form-control" ng-model="line.name"/></span>
                        </td>
                        <td data-title="'Status'" sortable="'status'" filter="{'status':'select'}" filter-data="UserStatusType.optionListDeferred">
                            <span ng-if="!($edit)">{{UserStatusType.titlesByValue[line.status]}}</span>
                            <select ng-options="option.id as option.title for (name, option) in UserStatusType.optionsByName" ng-model="line.status" ng-if="$edit" class="form-control"></select>
                        </td>
                        <td data-title="'Enabled'" sortable="'enabled'" >
                            <input type="checkbox" class="form-control" ng-model="line.enabled" ng-disabled="!($edit)" />
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</div>