<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>Computers</legend>
                <table ng-table="leftJoinComputerGridTableParams" show-filter="true" class="table table-bordered table-condensed table-hover">
                    <tr ng-repeat="line in $data">
                        <td data-title="'Id'" sortable="'id'" filter="{'id':'number'}">
                            {{line.id}}
                        </td>
                        <td data-title="'Name'" sortable="'name'" filter="{'name':'text'}">
                            {{line.name}}
                        </td>

            <td data-title="'Profile description'">
                Desc : {{line.__defaultProfile_description}} / {{line.__user_name}}
            </td>
        
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</div>